<script defer>
  const burgerMenuIcon = document.getElementById('burger-menu-icon');
  const mobileMenu = document.getElementById('mobile-menu');
  const closeIcon = document.getElementById('close-icon');
  const themeIconSun = document.getElementById('theme-icon-sun');
  const themeIconMoon = document.getElementById('theme-icon-moon');
  const BBGpreferredTheme = localStorage.getItem('BBGpreferredTheme');

  const initThemes = () => {
    if (BBGpreferredTheme === 'dark') {
      // Dark mode is preferred
      document.documentElement.setAttribute('data-theme', 'dark');
      localStorage.setItem('BBGpreferredTheme', 'dark');
      try {
        themeIconMoon.classList.add('active');
        themeIconSun.classList.remove('active');
      } catch {}
    } else if (BBGpreferredTheme === 'light') {
      // Light mode is preferred
      document.documentElement.setAttribute('data-theme', 'light');
      localStorage.setItem('BBGpreferredTheme', 'light');
      try {
        themeIconSun.classList.add('active');
        themeIconMoon.classList.remove('active');
      } catch {}
    } else {
      // No preference found, set a default theme
      document.documentElement.setAttribute('data-theme', 'light');
      localStorage.setItem('BBGpreferredTheme', 'light');
      try {
        themeIconSun.classList.add('active');
        themeIconMoon.classList.remove('active');
      } catch {}
    }
  };

  const setDarkTheme = () => {
    document.documentElement.setAttribute('data-theme', 'dark');
    localStorage.setItem('BBGpreferredTheme', 'dark');
    themeIconMoon.classList.add('active');
    themeIconSun.classList.remove('active');
  };

  const setLightTheme = () => {
    document.documentElement.setAttribute('data-theme', 'light');
    localStorage.setItem('BBGpreferredTheme', 'light');
    themeIconSun.classList.add('active');
    themeIconMoon.classList.remove('active');
  };

  // Initialization of themes.
  initThemes();

  themeIconSun.addEventListener('click', () => {
    setLightTheme();
  });

  themeIconMoon.addEventListener('click', () => {
    console.log('Dark theme requested');
    setDarkTheme();
  });

  burgerMenuIcon.addEventListener('click', () => {
    if (mobileMenu.classList.contains('hidden-mobile-menu')) {
      mobileMenu.classList.remove('hidden-mobile-menu');
    }
  });

  closeIcon.addEventListener('click', () => {
    if (!mobileMenu.classList.contains('hidden-mobile-menu')) {
      mobileMenu.classList.add('hidden-mobile-menu');
    }
  });
</script>
