{% include vertical_menu.html %}
<div id="nav-wrapper">
  <nav>
    <div id="burger-menu-icon" class="burger-menu-icon"
      >{% include menu_icon.html %}</div
    >
    <div class="nav__all-elements">
      <a href="{{site.url}}"><div class="nav__logo"></div></a>
      <div class="nav__text-elements">
        <h1 class="nav__blog-name"><a href="{{site.url}}">BBG</a></h1>
        <h2 class="nav__blog-name__subname">
          <a href="{{site.url}}">Languages Solutions</a></h2
        >
      </div>
    </div>
  </nav>
</div>
