<div id="nav-wrapper">
  <nav>
    <a href="{{site.url}}"><div class="nav__logo"></div></a>
    <div class="nav__text-elements">
      <h1 class="nav__blog-name"><a href="{{site.url}}">BBG</a></h1>
      <h2 class="nav__blog-name__subname"
        ><a href="{{site.url}}">Languages Solutions</a></h2
      >
    </div>
    <div class="nav__links-elements">
      <ul>
        <li><a href="{{ site.baseurl }}">SERVICES</a></li>
        <span>•</span>
        <li><a href="{{ site.baseurl }}">BLOG</a></li>
        <span>•</span>
        <li><a href="{{ site.baseurl }}#contact">CONTACT</a></li>
      </ul>
    </div>
  </nav>
</div>
