#nav-wrapper {
  background-color: var(--color-primary);
}

nav {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 40% 40% 20%;
  height: 40rem;
  max-width: 52.5rem;
  background-color: var(--color-primary);
  align-items: center;
  margin: 0 auto;
}

.nav__logo {
  display: inline;
  height: 15rem;
  width: 15rem;
  min-width: 15rem;
  background-color: var(--color-grey-dark);
  border-radius: 100%;
  justify-self: center;
  grid-row: 1 / 3;
}

.nav__text-elements {
  grid-row: 1 / 3;
}

.nav__blog-name {
  font-size: 12rem;
  line-height: 13rem;
  font-weight: lighter;
  margin: 0 0;
}

.nav__blog-name__subname {
  font-size: 3rem;
  font-weight: lighter;
  margin: 0 0;
}

.nav__links-elements {
  grid-column: 1/3;
  text-align: center;
}

.nav__links-elements > ul > li {
  list-style: none;
  display: inline;
  text-transform: uppercase;
  padding: 0 1rem;
  font-size: 1.25rem;
  color: var(--color-grey-dark);
}

.nav__links-elements > ul > li > a {
  text-decoration: none;
  color: var(--color-grey-dark);
}

.nav__links-elements > ul > li > a:visited {
  color: var(--color-grey-dark);
}

#main-wrapper {
  width: 95%;
  margin: 0 auto;
  max-width: 1190px;
}

.greetings-section {
  font-size: 1.5rem;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 7rem 0;
}

.content-section__services {
  width: 100%;
  display: grid;
  grid-template-columns: 7rem auto;
  grid-template-rows: auto auto;
  margin-bottom: 4rem;
}

.content-section__title-separator {
  border-bottom: 1px dotted var(--color-grey-dark);
  margin-bottom: 0.5rem;
}

.content-section__services-title,
.content-section__blog-title,
.content-section__contact {
  margin: 0;
}

.content-section__posts-services {
  grid-column: 1 / 3;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(4, 1fr);
  padding: 4rem 0;
}

.content-section__posts-services__item,
.content-section__posts-blog__item,
.content-section__contact-channels__item {
  text-align: center;
  background-color: var(--color-secondary);
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.23);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.23);
}

.content-section__posts-services__item {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.content-section__posts-services__item > h3 {
  font-size: 1.5rem;
  padding: 1rem;
  margin: 0;
}

.content-section__posts-services__item > a {
  align-self: center;
}

.content-section__blog {
  width: 100%;
  display: grid;
  grid-template-columns: 4rem auto;
  grid-template-rows: auto auto;
  margin-bottom: 4rem;
}

.content-section__posts-blog {
  grid-column: 1 / 3;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 4rem 0;
}

.content-section__posts-blog__item {
  display: grid;
  grid-template-columns: 10rem calc(100% - 10.725rem);
  grid-template-rows: 10rem 15rem 5rem;
  gap: 0.725rem;
  padding-bottom: 1rem;
}

.content-section__posts-blog__item__image {
  background-color: var(--color-grey-dark);
  border-radius: 5px;
}
.content-section__posts-blog__item__title {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  text-align: left;
  border-bottom: 1px dotted var(--color-grey-dark);
}
.content-section__posts-blog__item__content {
  grid-column: 1 / 3;
  padding: 1rem 1.5rem;
  text-align: justify;
  font-size: 1.2rem;
}

.content-section__contact {
  width: 100%;
  display: grid;
  grid-template-columns: 7rem auto;
  grid-template-rows: auto auto;
  margin-bottom: 4rem;
}

.content-section__contact-title {
  margin: 0;
}

.content-section__contact-channels {
  grid-column: 1 / 3;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 4rem 0;
  width: 100%;
}

.content-section__contact-channels__item {
  height: 10rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 6rem;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.content-section__contact-channels__item > h3 {
  background-color: var(--color-primary);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.2rem;
  border-radius: 5px 5px 0px 0px;
}

.content-section__contact-channels__item > p {
  font-size: 1.2rem;
}

.content-section__contact-channels__item > p > a:visited {
  color: var(--color-grey-dark);
}

.button {
  background-color: #4a4747;
  margin: 0 auto;
  grid-column: 1/3;
  align-self: center;
  padding: 1rem 1rem;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
