#nav-wrapper {
  background-color: var(--color-primary);
  --mask: radial-gradient(49.2px at 50% calc(100% - 69px), #000 99%, #0000 101%)
      calc(50% - 60px) 0/120px 100%,
    radial-gradient(49.2px at 50% calc(100% + 39px), #0000 99%, #000 101%) 50%
      calc(100% - 30px) / 120px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.burger-menu-icon {
  top: 1rem;
  left: 1.25rem;
  position: absolute;
  fill: var(--color-nav-menu-icon);
}

.mobile-menu {
  display: block;
  position: fixed;
  height: 100vh;
  width: 80vw;
  max-width: 20rem;
  background-color: var(--color-nav-menu);
  z-index: 2;
  left: 0;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.23);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.23);
  transition: all 0.15s ease-in-out;
}

.close-icon {
  text-align: right;
  fill: var(--color-white);
}

.close-icon > svg {
  width: 1rem;
  height: 1rem;
  padding: 2rem 1.25rem;
}

.mobile-menu__category-title {
  color: var(--color-white);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin-left: 1rem;
  border-bottom: 1px dashed var(--color-white);
  width: 90%;
}

.nav__setting-elements {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}
.nav__setting-elements__theme-button {
  padding: 1rem 1.5rem;
  background-color: var(--color-primary);
  fill: var(--color-white);
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.23);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.23);
}

.nav__setting-elements__theme-button > svg {
  width: 2rem;
  height: 2rem;
}

.nav__setting-elements > .active {
  -webkit-box-shadow: 0 0 7px 2px rgb(255 255 255);
  -moz-box-shadow: 0 0 7px 2px rgb(255 255 255);
  box-shadow: 0 0 7px 2px rgb(255 255 255);
}

nav {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 40% 40% 20%;
  height: 40rem;
  max-width: 52.5rem;
  background-color: var(--color-primary);
  align-items: center;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.nav__logo {
  display: inline;
  height: 15rem;
  width: 15rem;
  min-width: 15rem;
  background-color: var(--color-grey-dark);
  border-radius: 100%;
  justify-self: center;
  grid-row: 1 / 3;
}

.nav__text-elements {
  grid-row: 1 / 3;
}

.nav__blog-name {
  font-size: 12rem;
  line-height: 13rem;
  font-weight: lighter;
  margin: 0 0;
}

.nav__blog-name__subname {
  font-size: 3rem;
  font-weight: lighter;
  margin: 0 0;
}

.nav__links-elements {
  grid-column: 1/3;
  text-align: center;
}

.nav__links-elements > ul > li {
  list-style: none;
  display: inline;
  text-transform: uppercase;
  padding: 0 1rem;
  font-size: 1.25rem;
  color: var(--color-grey-dark);
}

.nav__links-elements > ul > li > a {
  text-decoration: none;
  color: var(--color-grey-dark);
}

.nav__links-elements > ul > li > a:visited {
  color: var(--color-grey-dark);
}

#main-wrapper {
  width: 95%;
  margin: 0 auto;
  max-width: 1190px;
}

.greetings-section {
  font-size: 1.5rem;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 7rem 0;
}

.content-section__services {
  width: 100%;
  display: grid;
  grid-template-columns: 7rem auto;
  grid-template-rows: auto auto;
  margin-bottom: 4rem;
}

.content-section__title-separator {
  border-bottom: 1px dotted var(--color-grey-dark);
  margin-bottom: 0.5rem;
}

.content-section__services-title,
.content-section__blog-title,
.content-section__contact {
  margin: 0;
}

.content-section__posts-services {
  grid-column: 1 / 3;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(4, 1fr);
  padding: 4rem 0;
}

.content-section__posts-services__item,
.content-section__posts-blog__item,
.content-section__contact-channels__item {
  text-align: center;
  background-color: var(--color-secondary);
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.23);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.23);
}

.content-section__posts-services__item {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.content-section__posts-services__item > h3 {
  font-size: 1.5rem;
  padding: 1rem;
  margin: 0;
}

.content-section__posts-services__item > a {
  align-self: center;
}

.content-section__blog {
  width: 100%;
  display: grid;
  grid-template-columns: 4rem auto;
  grid-template-rows: auto auto;
  margin-bottom: 4rem;
}

.content-section__posts-blog {
  grid-column: 1 / 3;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem 0 0 0;
}

.content-section__posts-blog__item {
  display: grid;
  grid-template-columns: 8rem calc(100% - 8.725rem);
  grid-template-rows: 8rem auto;
  gap: 0.725rem;
  padding-bottom: 1rem;
}

.content-section__posts-blog__item__image {
  background-color: var(--color-grey-dark);
  border-radius: 5px;
}
.content-section__posts-blog__item__title {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  text-align: left;
  border-bottom: 1px dotted var(--color-grey-dark);
}
.content-section__posts-blog__item__content {
  grid-column: 1 / 3;
  padding: 1rem 1.5rem;
  text-align: justify;
  font-size: 1rem;
  display: grid;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5rem;
  font-size: 1.3rem;
  background-color: var(--color-secondary);
  padding: 1rem 0;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.23);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.23);
}

.pagination-wrapper > span > a,
.pagination-wrapper > span > a:visited {
  color: var(--color-grey-dark);
  text-decoration: underline;
}

.content-section__contact {
  width: 100%;
  display: grid;
  grid-template-columns: 7rem auto;
  grid-template-rows: auto auto;
  margin-bottom: 4rem;
}

.content-section__contact-title {
  margin: 0;
}

.content-section__contact-channels {
  grid-column: 1 / 3;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 4rem 0;
  width: 100%;
}

.content-section__contact-channels__item {
  height: 10rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 6rem;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.content-section__contact-channels__item > h3 {
  background-color: var(--color-primary);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.2rem;
  border-radius: 5px 5px 0px 0px;
}

.content-section__contact-channels__item > p {
  font-size: 1.2rem;
}

.content-section__contact-channels__item > p > a:visited {
  color: var(--color-grey-dark);
}

.button {
  background-color: var(--color-button);
  margin: 0 auto;
  grid-column: 1/3;
  align-self: center;
  padding: 1rem 1.5rem;
  color: var(--color-white);
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
}

.button-secondary {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.23);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.23);
  padding: 2rem 3rem;
  font-size: 1.5rem;
  margin: 2rem auto;
}

.disabled {
  color: var(--color-grey-light) !important;
  cursor: default !important;
  text-decoration: none !important;
}

.hidden-mobile-menu {
  left: -82vw !important;
}

.burger-menu-icon,
.close-icon > svg,
#theme-icon-sun,
#theme-icon-moon {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  nav {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    padding: 2rem 0;
    row-gap: 1.6rem;
    height: 25rem;
    margin-bottom: 2.5rem;
  }

  .nav__logo {
    height: 10rem;
    width: 10rem;
    min-width: 10rem;
    grid-row: 1 / 2;
  }

  .nav__text-elements {
    grid-row: 2 / 3;
    text-align: center;
  }

  .nav__blog-name {
    font-size: 6rem;
    line-height: 6rem;
  }

  .nav__blog-name__subname {
    font-size: 1.5rem;
  }

  .nav__links-elements {
    grid-column: 1/3;
    text-align: center;
  }

  .nav__links-elements > ul {
    padding: 0;
  }

  .nav__links-elements > ul > li {
    padding: 0 0.5rem;
    font-size: 1.25rem;
  }

  .greetings-section {
    font-size: 1.2rem;
    width: 90%;
    text-align: center;
    padding: 1rem 0;
  }

  .content-section__services {
    grid-template-columns: 7rem auto;
    margin: 4rem 0;
  }

  .content-section__posts-services__item {
    height: 160px;
  }

  .content-section__services-title,
  .content-section__blog-title {
    font-size: 1.5rem;
  }

  .content-section__posts-services {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 1.5rem 0;
  }

  .content-section__posts-services__item > h3 {
    font-size: 1.2rem;
    padding: 0;
  }

  .content-section__posts-services__item > a {
    font-size: 1rem;
  }

  .content-section__blog {
    grid-template-columns: 5rem auto;
  }

  .content-section__posts-blog {
    grid-template-columns: 1fr;
  }

  .content-section__posts-blog__item {
    grid-template-rows: 8rem auto;
  }

  .content-section__contact-channels {
    grid-template-columns: repeat(2, 1fr);
  }

  .content-section__contact-channels {
    display: flex;
    flex-direction: column;
  }

  .button {
    align-self: center;
  }
}
