nav {
  background-color: var(--color-primary);
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 840px;
  margin: 0 auto;
}

.nav__logo {
  display: inline;
  height: 15rem;
  width: 15rem;
  min-width: 15rem;
  background-color: var(--color-grey-dark);
  border-radius: 100%;
}

.nav__blog-name {
  font-size: 12rem;
  line-height: 13rem;
  font-weight: lighter;
  margin: 0 0;
}

.nav__blog-name__subname {
  font-size: 3rem;
  font-weight: lighter;
  margin: 0 0;
}
