#nav-wrapper {
  background-color: var(--color-primary);
  width: 100%;
}

nav {
  display: grid;
  grid-template-columns: 7rem auto 50%;
  height: auto;
  padding: 1rem;
  margin: 0;
  align-items: center;
}

.nav__logo {
  height: 6rem;
  width: 6rem;
  min-width: 6rem;
  background-color: var(--color-grey-dark);
  border-radius: 100%;
}

.nav__text-elements {
  display: inline-block;
}

.nav__blog-name {
  font-size: 3rem;
  font-weight: lighter;
  margin: 0 0;
}

.nav__blog-name__subname {
  font-size: 2rem;
  font-weight: lighter;
  margin: 0 0;
}

.nav__blog-name > a,
.nav__blog-name__subname > a,
.nav__blog-name > a:visited,
.nav__blog-name__subname > a:visited {
  text-decoration: none;
  color: var(--color-grey-dark);
}

.nav__links-elements {
  display: inline-block;
  text-align: right;
}

.nav__links-elements > ul > li {
  list-style: none;
  display: inline;
  text-transform: uppercase;
  padding: 0 1rem;
  font-size: 1.25rem;
  color: var(--color-grey-dark);
}

.nav__links-elements > ul > li > a {
  text-decoration: none;
  color: var(--color-grey-dark);
}

.nav__links-elements > ul > li > a:visited {
  color: var(--color-grey-dark);
}
