@import url('./navbar.css');

.main-wrapper {
  width: 80%;
  max-width: 70rem;
  margin: 6rem auto;
  font-size: 1.5rem;
  font-family: Helvetica, Arial, sans-serif;
}

.post-category {
  font-weight: bold;
  font-size: 1.2rem;
}

.post-title {
  border-bottom: 1px solid var(--color-grey-dark);
  margin-bottom: 0;
  font-size: 2rem;
}

.post-publishing-date {
  font-size: 0.8rem;
  text-transform: uppercase;
  margin: 1rem 0;
  font-weight: normal;
}

.post-header-image-wrapper {
  max-width: 100%; /* Ensure the container adjusts to the available width */
  text-align: center; /* Center the image horizontally if necessary */
}

.post-header-image {
  max-width: 100%; /* Ensure the image adjusts to the container's width */
  /* min-height: 30rem; */
  /* max-height: 36.75rem; Maintain aspect ratio and prevent distortion */
  background-color: var(--color-primary);
  margin: 3rem 0;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.23);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.23);
}

.post-content {
  font-size: 1rem;
}

.post-content::first-letter {
  font-size: 2.5rem;
}

.button {
  margin: 4rem auto 0 auto;
  display: flex;
}

.button > a {
  background-color: var(--color-button);
  margin: 0 auto;
  padding: 1rem 1.5rem;
  color: var(--color-white);
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2rem;
  align-self: center;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.23);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.23);
}

@media screen and (max-width: 1024px) {
  .main-wrapper {
    margin: 1rem auto;
    width: 90%;
  }
}
