<!DOCTYPE html>
<html lang="en">
  {% include html_head.html %}
  <body>
    {% include navbar.html %} {{ content }} 
    
    {% for utility in site.utilities %}
      {% if utility.title == 'Greetings' %}
      <p> {{ utility.content }} </p>
      {% endif %} 
{% endfor %}

    <h2>Blog</h2>
    {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}

    <h2>Pages</h2>
    {% for utility in site.utilities %}
    {% if utility.title != 'Greetings' %}
    <li>
      <a href="{{ utility.url }}">{{ utility.title }}</a>
    </li>
    {% endif %} 
    {% endfor %}

    <h2>Services</h2>
    {% for service in site.services %}
    <li> <a href="{{ service.url }}"> {{service.title}} </a></li>
    {% endfor %}
  </body>
</html>
