<!DOCTYPE html>
<html lang="en">
  {% include html_head.html %}
  <body>
    {% include navbar.html %} {{ content }}

    <h2>Blog</h2>
    {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}

    <h2>Pages</h2>
    {% for post in site.pages %} {% if post.layout != "home" and post.title !=
    nil %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif %} {% endfor %}

    <h2>Services</h2>
    {% for service in site.services %}
    <li> <a href="{{ service.url }}"> {{service.title}} </a></li>
    {% endfor %}
  </body>
</html>
