<!DOCTYPE html>
<html lang="en">
  <head>
    {% include html_head.html %}
    <link
      rel="stylesheet"
      href="{{ site.baseurl }}/assets/css/institucional.css"
    />
  </head>
  <body>
    <div id="nav-wrapper">
      <nav>
        <div class="nav__logo"></div>
        <div class="nav__text-elements">
          <h1 class="nav__blog-name">BBG</h1>
          <h2 class="nav__blog-name__subname">Languages Solutions</h2>
        </div>
        <div class="nav__links-elements">
          <ul>
            <li><a href="{{ site.baseurl }}#services">Services</a></li>
            <span>•</span>
            <li><a href="{{ site.url }}#blog">Blog</a></li>
            <span>•</span>
            <li><a href="{{ site.baseurl }}#contact">Contact</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <div id="main-wrapper">
      <!-- Greetings text -->
      <div class="greetings-section">
        {% for utility in site.utilities %} {% if utility.title == 'Greetings'
        %} {{ utility.content }} {% endif %} {% endfor %}
      </div>

      <!-- Services -->
      <div id="services" class="content-section__services">
        <h2 class="content-section__services-title">Services</h2>
        <span class="content-section__title-separator"></span>
        <div class="content-section__posts-services">
          {% for service in site.services %}
          <div class="content-section__posts-services__item">
            <h3> {{ service.title}} </h3>
            <a class="button button-sm" href="{{ service.url }}">Saiba Mais</a>
          </div>
          {% endfor %}
        </div>
      </div>

      <!-- Blog posts -->
      <div class="content-section__blog" id="blog">
        <h2 class="content-section__blog-title">Blog</h2>
        <span class="content-section__title-separator"></span>
        <div class="content-section__posts-blog">
          {% for post in paginator.posts %}
          <div class="content-section__posts-blog__item">
            <div class="content-section__posts-blog__item__image"></div>
            <div class="content-section__posts-blog__item__title">
              <p>{{ post.title }}</p>
            </div>
            <div class="content-section__posts-blog__item__content">
              {{ post.excerpt }}
              <a class="button button-sm" href="{{ post.url }}">
                Read This Post
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="pagination-wrapper">
        {% if paginator.page != 1 %}
        <span>
          <a href="{{paginator.previous_page_path}}#blog">Previous</a>
        </span>
        {% else %}
        <span>
          <a href="{{paginator.previous_page_path}}#blog"></a>
        </span>
        {% endif %}
        <span>•</span>
        <span> {{ paginator.page }} of {{ paginator.total_pages }} </span>
        <span>•</span>
        {% if paginator.page != paginator.total_pages %}
        <span><a href="{{paginator.next_page_path}}#blog">More</a></span>
        {% else %}
        <span><a href="{{paginator.next_page_path}}#blog"></a></span>
        {% endif %}
      </div>

      <!-- Contact -->
      <div id="contact" class="content-section__contact">
        <h2 class="content-section__contact-title">Contact</h2>
        <span class="content-section__title-separator"></span>
        <div class="content-section__contact-channels">
          {% for contact in site.contacts %}
          <div class="content-section__contact-channels__item">
            <h3> {{ contact.title}} </h3>
            {{ contact.content }}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
