<!DOCTYPE html>
<html lang="en">
  <head>
    {% include html_head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/post.css" />
  </head>
  <body>
    {% include navbar.html %}
    <div class="main-wrapper">
      <p class="post-category">Blog</p>
      <h1 id="postTitle" class="post-title">{{ page.title }} </h1>
      <h2 class="post-publishing-date"
        >Published on {{ page.date | date: "%-d %B %Y" }}</h2
      >
      <div class="post-header-image-wrapper">
        {% if post.bannerimage != nil %}
        <img class="post-header-image" src="{{ post.bannerimage }}" />
        {% else %}
        <img
          class="post-header-image"
          src="/assets/img/posts/vector1200-630.png"
        />
        {% endif %}
      </div>
      <div id="postContent" class="post-content">{{ page.content }}</div>

      <div class="button"
        ><a id="morePostsButton" href="{{ site.url }}#blog">More Posts</a></div
      >
    </div>
    {% include footer.html %} {% include burgermenuscript.html %}
  </body></html
>
<script>
  const postTitle = document.getElementById('postTitle');
  const postTitle_EN = postTitle.innerText.split('###')[0];
  const postTitle_PT = postTitle.innerText.split('###')[1];
  postTitle.innerText = taal === 'en' ? postTitle_EN : postTitle_PT;

  const postContent = document.getElementById('postContent');
  const postContent_EN = postContent.innerText.split('###')[0];
  const postContent_PT = postContent.innerText.split('###')[1];
  postContent.innerText = taal === 'en' ? postContent_EN : postContent_PT;

  const morePostsButton = document.getElementById('morePostsButton');
  const morePostsButton_EN = morePostsButton.innerText.split('###')[0];
  const morePostsButton_PT = morePostsButton.innerText.split('###')[1];
  morePostsButton.innerText = taal === 'en' ? 'More Posts' : 'Mais Posts';
</script>
