<!DOCTYPE html>
<html lang="en">
  <head>
    {% include html_head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/service.css" />
  </head>
  <body>
    {% include navbar.html %}
    <div class="main-wrapper">
      <p class="service-category">Services</p>
      <h1 class="service-title">{{ page.title }} </h1>
      <div class="service-content">{{ page.content }}</div>

      <div class="button"
        ><a href="{{ site.url }}#services">More Services</a></div
      >
    </div>
    {% include footer.html %} {% include burgermenuscript.html %}
  </body></html
>
